/* Resets css */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

/* Sets background image and makes it follow as you scroll */
html {
	background: url("./images/savannah.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
	position: static;
	width: 100%;
	height: 100%;
	right: 0;
	left: 0;
	z-index: 1000;
}

#header {
	position: static;
	margin: auto;
	background-image: url("./images/quaggamusic.png");
	height: 200px;
	width: 1000px;
}

#menu {
	position: static;
	margin: auto;
	background-color: #c09f80;
	height: 50px;
	width: 1000px;
}

.content {
	position: static;
	margin: auto;
	background-color: #d7cec7;
	width: 1000px;
}

#indContent {
	height: 700px;
}

#docContent {
	height: 100%;
}

.btn {
	position: relative;
	margin: auto;
	width: 100px;
	height: 30px;
	top: 10px;
	bottom: 5px;
	left: 5px;
	right: 10px;
	transition: 0.3s;
	font-weight: 600;
	font-size: 17px;
	border-radius: 12px;
}

.btn:hover {
	background: #dd7e25;
	opacity: 1;
}

#btnDocumentation {
	width: 150px;
}

.divEndpoint {
	background-color: #8382827c;
	border-radius: 40px;
	margin: auto;
	max-width: 950px;
}

.tblIndex {
	padding: 100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

.tblDocumentation {
	padding-top: 10px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
}

.preDesc {
	padding-left: 10%;
	padding-right: 10%;
	font-size: 16px;
}

.preTitle {
	padding-left: 10%;
	padding-right: 10%;
	font-size: 18px;
}

.pDesc {
	padding-left: 10%;
	padding-right: 10%;
	font-size: 18px;
}

.prePayload {
	font-size: 15px;
}
